ol{
    color:palevioletred;
    font-size: 150%;
}

ul{
    color:aquamarine;
}

p, h1, tr{
    color:blue;
}

table{
    background-color: aqua;
    font-family: fantasy;
    border-style: dotted;
    border-color: blueviolet;
    position: sticky;
}

img:hover{
    border-radius: 50%;
    border-style: solid;
    border-color: red;
    border-width: 15px;
}

#test_table{
    border-width: 15px
}

a:hover{
    border-color: red;
    border-radius: 50%;
    border-width: 15px;
    border-style: groove;
}

/* element < class < id < inline styling */
/* Normal rule type < animation rule type < !importance */

div{
    border-color: brown;
    border-style: dashed;
    padding: 30px;
    margin: 30px;
}

#div1{
    position: relative;
    left:200px;
}

/* box positions
static, relative, fixed, absolute, sticky */

ol{
    text-shadow: 1px 1px 2px black;
}
